@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --dusty-blue: rgb(166, 176, 200);

    --dark-blue: rgb(4, 1, 23);
    --dark-blue-faded: rgba(4, 1, 23, .80);

    --light-blue: rgb(217, 222, 234);
    --light-blue-solid: rgba(217, 222, 234, 1);
    --light-blue-faded: rgba(217, 222, 234, .25);
    
}

/* form */
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.label-title {
    color: var(--dark-blue);
    margin-top: .75em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.input-box {
    width: 75vw;
    height: 3em;
    margin-top: .25em;
    border: .1em var(--dusty-blue) solid ;
    font-family: Work Sans, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
}

.input-box:focus {
    outline: .2em solid var(--dusty-blue);
}

#messageInput {
    width: 75vw;
    padding: 1em;
    height: 8em;
    resize: vertical; 
    display: block;
}

.company-disclaimer {
    font-family: Work Sans, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-top: .2em;
}

.submit-btn {
    width: 55vw;
    height: 3em;
    background-color: var(--dusty-blue);
    border: 0 solid white;
    margin: 1.5em auto;

    margin-top: .5em;
    margin-bottom: .8em;

    font-family: Work Sans, sans-serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-decoration: none;

    display: block;
}

.submit-btn:hover {
    width: 55vw;
    height: 3em;
    background-color: var(--dark-blue);
    color: white;
    border: 0 solid white;
}

.submit-btn:active {
    width: 55vw;
    height: 3em;
    background-color: var(--dark-blue);
    color: white;
    border: .1em solid var(--dusty-blue);
}